<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <provider android:authorities="br.com.simplifica.ai.provider" />
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="br.com.simplifica.ai.permission.USE_LOCAL_AI" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_simplifica_rural_logo"
        android:roundIcon="@drawable/ic_simplifica_rural_logo"
        android:label="Simplifica Rural"
        android:theme="@style/Theme.SimplificaRural">
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
